*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: rgb(17, 16, 16);
}
.card{
    margin-top: 30px;
    margin: 20px;
    box-shadow: 5px 5px 5px rgb(126, 124, 124);
}
.img-card{
    width: 300px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    margin-left: 47px;
    box-shadow: 5px 5px 5px rgb(145, 144, 144);
    transition: 0.7s ease-in-out;
}

.img-card:hover{
    transform: translatey(-15px);
    cursor: pointer;
}

.card-title{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

@media(max-width: 500px){
    .img-card{
        margin-left: 12px;
    }
} 

.div-main{
    background-color: aqua;
    display: inline-block;
    
}

.saibaMais{
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: end;
}

